@model IEnumerable<Food>

@{
    ViewData["Title"] = "Ételeink";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PathToImage)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class=" rounded-circle" src="@item.PathToImage" alt="item.Name" style="max-width: 150px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-success text-white"><i class="bi bi-cart-plus"></i>@item.Price.ToString("c")</a>
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary" asp-controller="Food" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Szerkesztés</a> |
                            <a class="btn btn-outline-info" asp-controller="Food" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Részletek</a> |
                            <a class="btn btn-danger" asp-controller="Food" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Törlés</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div style="position: fixed; right: 25px; bottom: 100px;" class="text-white">
    <a asp-controller="Food" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Új étel</a>
</div>