@model IEnumerable<Restaurant>

@{
    ViewData["Title"] = "Éttermek";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.name
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.PathToLogo" width="100%" alt="@item.name">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Város: </b>@item.town</p>
                            <p class="card-text"><b>Cím: </b>@item.address</p>
                            <p class="card-text"><b>Telefonszám: </b>@item.phoneNumber</p>
                            <p class="card-text"><b>Nyitás: </b>@item.openTime</p>
                            <p class="card-text"><b>Zárás: </b>@item.closeTime</p>
                            <p class="card-text ">
                                <b>Status: </b>
                                @if (DateTime.Now.Hour >= item.openTime && DateTime.Now.Hour <= item.closeTime)
                                {
                                    <span class="badge bg-success text-white">Nyitva</span>
                                }
                                else if (DateTime.Now.Hour > item.closeTime || DateTime.Now.Hour < item.closeTime)
                                {
                                    <span class="badge bg-danger text-white">Zárva</span>
                                }
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-success text-white @((DateTime.Now.Hour > item.closeTime) ? "disabled" : "")"
                               asp-controller="Food"
                               asp-action="Index"
                               asp-route-id="@item.Id">
                                    Tovább az étlapra
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>